<app-step-navbar [currentTab]="'step-accomodations'"></app-step-navbar>

<div class="container-fluid mx-4 py-5">
  <h2>Accomodations</h2>

  <div class="courses-container col-md-12 row">
    <div class="col-md-4 my-3" *ngFor="let accomodation of accomodations">
      <div class="card h-100">
        <div class="card-header bg-green bg-gradient text-light">
          <h4 class="card-title mb-0">{{ accomodation.name }}</h4>
        </div>
        <div
          class="card-details card-body h-100 d-flex flex-column justify-content-between bg-green-light text-dark"
        >
          <div>
            <p class="card-text">
              <strong>Location :</strong>
              {{
                accomodation.addressLane1 + " , " + accomodation.addressLane2
              }}
            </p>
            <p class="card-text">
              <strong>City : </strong>{{ accomodation.city }}
            </p>
            <p class="card-text">
              <strong>State : </strong>{{ accomodation.state }}
            </p>
            <p class="card-text">
              <strong>Pin Code :</strong>
              {{
                accomodation.pinCode ? accomodation.pinCode : "Not available"
              }}
            </p>
            <p class="card-text">
              <strong>Day Care Center :</strong>
              {{ accomodation.dayCareCenter ? "Available" : "Not Available" }}
            </p>
            <p class="card-text">
              <strong>Available Rooms :</strong>
              {{ accomodation.roomAvailable }}
            </p>
          </div>
          <div class="d-flex justify-content-between mt-3 mx-auto">
            <button
              class="btn btn-dark bg-green creg"
              id="creg"
              *ngIf="!isReg"
              (click)="register(accomodation)"
            >
              Register
            </button>
            <button
              class="btn btn-danger"
              *ngIf="userHostelId === accomodation.accommodationId"
              (click)="vacate()"
            >
              Vacate
            </button>
            <button class="btn btn-danger" *ngIf="!reg === true">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
