<app-ngo-navbar [currentTab]="'new-accommodation'"></app-ngo-navbar>
<div class="container-fluid">
  <div class="row p-2 my-4">
    <div class="col-lg-6">
      <div class="card my-2">
        <form [formGroup]="newAccommodationForm" (ngSubmit)="requestSubmit()">
          <div class="card-header bg-green bg-gradient text-light">
            <h4 class="my-1">Add New Hostel</h4>
          </div>
          <div class="card-body bg-green-light">
            <div class="row">
              <div class="col-lg-8">
                <div class="form-group my-3">
                  <label for="ac-name" class="mx-3 my-1">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="name"
                  />
                </div>
                <div class="form-group my-3">
                  <label for="ac-name" class="mx-3 my-1">Address Lane 1</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="addressLane1"
                  />
                </div>
                <div class="form-group my-3">
                  <label for="ac-name" class="mx-3 my-1">Address Lane 2</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="addressLane2"
                  />
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group my-3">
                  <label for="ac-name" class="mx-3 my-1">City</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="city"
                  />
                </div>
                <div class="form-group my-3">
                  <label for="ac-name" class="mx-3 my-1">State</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="state"
                  />
                </div>
                <div class="form-group my-3">
                  <label for="ac-name" class="mx-3 my-1">Pin Code</label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="pinCode"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group my-3">
                  <label for="ac-name" class="mx-3 my-1">Total Rooms</label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="totalRooms"
                  />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group my-3">
                  <label for="ac-name" class="mx-3 my-1">Capacity</label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="capacity"
                  />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group my-3">
                  <label for="" class="my-1">Has Child Care Facility?</label>
                  <br />
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="dayCareCenter"
                      id="inlineRadio1"
                      value="true"
                      formControlName="dayCareCenter"
                    />
                    <label class="form-check-label" for="inlineRadio1"
                      >Yes</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="dayCareCenter"
                      id="inlineRadio2"
                      value="false"
                      formControlName="dayCareCenter"
                    />
                    <label class="form-check-label" for="inlineRadio2"
                      >No</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer bg-green bg-gradient text-center">
            <button
              class="btn btn-outline-light"
              type="submit"
              [disabled]="!newAccommodationForm.valid"
            >
              Add
            </button>
            <div
              class="alert alert-success bg-green-light my-3"
              *ngIf="isAddSuccess"
            >
              {{ addMessage }}
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="alert alert-danger bg-gradient text-center my-2">
        <h2 class="m-0">Your Hostels</h2>
      </div>
      <div class="card my-4" *ngFor="let hostel of hostels">
        <div class="card-header bg-danger bg-gradient text-light">
          <h4 class="card-title">
            <div class="row my-2">
              <div class="col-sm-8">
                {{ hostel.name }}
              </div>
              <div class="col-sm-4">
                <button class="btn btn-outline-light">View Residents</button>
              </div>
            </div>
          </h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <p class="card-text">Rooms : {{ hostel.totalRooms }}</p>
              <p>Vacant : {{ hostel.roomAvailable }}</p>
              <p>Capacity : {{ hostel.capacity }}</p>
              <p>
                Day Care Facility :
                <span *ngIf="hostel.dayCareCenter">Yes</span>
                <span *ngIf="!hostel.dayCareCenter">No</span>
              </p>
            </div>
            <div class="col-sm-6">
              <p class="card-text">
                <strong>Address</strong><br />
                {{ hostel.addressLane1 }}
                <br />
                {{ hostel.addressLane2 }}, {{ hostel.city }} <br />
                {{ hostel.state }} - {{ hostel.pinCode }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
