<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-left: 10px;"> 
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
            <!-- <img src="assets/images/sukanyahome.jpg" height="40px" width="40px"> -->
        <span class="sr-only"></span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#">Courses</a>
      </li> 
      
      <li class="nav-item active">
        <a class="nav-link" href="#">Accommodation</a>
      </li> 
      
      <li class="nav-item active">
        <a class="nav-link" routerLink="/step/sukanya/sukanya-home">Sukanya</a>
      </li> 
      
      <li class="nav-item active">
        <a class="nav-link" href="#">Logout</a>
      </li> 

      <li class="nav-item active">
        <div class="position-absolute top-0 end-0">
          <a class="nav-link" href="#">
              <img class="text-center" src="assets/images/profile.png" height="40px" width="40px">
          </a>
        </div>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>



