<div class="d-flex flex-row bd-highlight mb-3">
    <div class="p-2 bd-highlight">
        <img src="assets\images\sukanya.jpg"  height="500px" width="600px">
    </div>

    <div class="p-2 bd-highlight">
        <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 20px; justify-content: center;"> 
            The scheme was launched by Prime Minister Narendra Modi on 22 January 2015 in Panipat, Haryana. The accounts can be opened at any India Post office or a branch of some authorised commercial banks. Initially, the interest rate was set at 9.1% but later revised to 9.2% in late March 2015 for FY2015-16. Interest Rate have been revised for FY 2021-22 to 7.6%.

            The account can be opened anytime between the birth of a girl child and the time she attains 10 years age by the parent/guardian. Only one account is allowed per child. Parents can open a maximum of two accounts for each of their children (exception allowed for twins and triplets). The account can be transferred to anywhere in India.
            
            A minimum of ₹250 must be deposited in the account initially. Thereafter, any amount in multiples of Rs 100 can be deposited. However, the maximum deposit limit is ₹150,000. If the minimum deposit of ₹250, (initially which was 1000) is not made in a year, a fine of ₹50 will be put on.
            
            The girl can operate her account after she reaches the age of 10. The account allows 50% withdrawal at the age of 18 for higher education purposes. The account reaches maturity after time period of 21 years from date of opening it. Deposits in the account can be made till the completion of 15 years, from the date of the opening of the account. After this period the account will earn only applicable rate of interest. If the account is closed, then it will not earn interest at the prevailing rate. If the girl is over 18 and married, normal closure is allowed.
        </p>
    </div>
</div>
<div class="text-center">
    <button type="button" style="margin-bottom: 10px;" class="btn btn-primary btn-lg" [routerLink]="'/sukanyaRegister'">Register</button>
</div>
