<div class="form-container">
  <form
    action=""
    class="form-style"
    #passwordChangeForm="ngForm"
    (ngSubmit)="changePassword()"
  >
    <span class="fields-row">
      <div class="col-6 px-3">
        <div>
          <mat-label>Email</mat-label>
          <mat-form-field appearance="outline">
            <input
              matInput
              type="email"
              name="userEmail"
              [(ngModel)]="userEmail"
              #email="ngModel"
              placeholder="Email Id"
              required
            />
            <mat-error *ngIf="email.invalid">Required. Valid Email</mat-error>
          </mat-form-field>
        </div>
      </div>

      <span class="form-field-space"></span>

      <div class="col-6 px-3">
        <div>
          <mat-label>Old Password</mat-label>
          <mat-form-field appearance="outline">
            <input
              matInput
              [type]="showOldPassword ? 'text' : 'password'"
              name="password"
              placeholder="Old Password"
              [(ngModel)]="updatePasswordDetails.password"
            />
            <mat-icon matSuffix (click)="toggleOldPasswordVisibility()">
              {{ showOldPassword ? "visibility_off" : "visibility" }}
            </mat-icon>
          </mat-form-field>
        </div>
      </div>
    </span>

    <span class="fields-row col-12">
      <div class="col-6 px-3">
        <div>
          <mat-label>Password</mat-label>
          <mat-form-field appearance="outline">
            <input
              matInput
              [type]="showRegisterPassword ? 'text' : 'password'"
              name="newPassword"
              [(ngModel)]="newPassword"
              placeholder="New Password"
            />
            <mat-icon matSuffix (click)="toggleRegisterPasswordVisibility()">
              {{ showRegisterPassword ? "visibility_off" : "visibility" }}
            </mat-icon>
          </mat-form-field>
        </div>
      </div>

      <span class="form-field-space"></span>

      <div class="col-6 px-3">
        <div>
          <mat-label>Confirm Password</mat-label>
          <mat-form-field appearance="outline">
            <input
              matInput
              [type]="showRegisterConfirmPassword ? 'text' : 'password'"
              name="confirmNewPassword"
              [(ngModel)]="confirmNewPassword"
              placeholder="Confirm Password"
            />
            <mat-icon
              matSuffix
              (click)="toggleRegisterConfirmPasswordVisibility()"
            >
              {{
                showRegisterConfirmPassword ? "visibility_off" : "visibility"
              }}
            </mat-icon>
          </mat-form-field>
        </div>
      </div>
    </span>
    <button
      class="update-detail-button"
      mat-raised-button
      color="primary"
      [disabled]="passwordChangeForm.invalid"
    >
      Update
    </button>
  </form>
</div>
