<!DOCTYPE html>

<head>
    <title>NGO LIST</title>
    <p>ngo-list works!</p>
    <button type="button" class="collapsible">NGO 1</button>
    <div class="content">These are thge details of NGO 1</div>
    <link rel="stylesheet" href="ngo-list.component.css">
    <button type="button" class="collapsible">NGO 2</button>
    <div class="content">These are the details of NGO 2</div>
    <button type="button" class="collapsible">NGO 3</button>
    <div class="content">These are the detais of NGO 3</div>
</head>