<!doctype html>

<head>
    <title> USERS</title>
    <link rel="stylesheet" href="user-list.component.css">
    <ol>
        <li>User 1
            <dl>
                <dt>Contact Details</dt>
                <dd>Email:</dd>
                <dd>Phone:</dd>
            </dl>
        </li>
        <li>User 2
            <dl>
                <dt>Contact Details</dt>
                <dd>Email:</dd>
                <dd>Phone:</dd>
            </dl>
        </li>
        <li>User 3
            <dl>
                <dt>Contact Details</dt>
                <dd>Email:</dd>
                <dd>Phone:</dd>
            </dl>
        </li>
    </ol>
</head>