<app-step-navbar [currentTab]="'home'"></app-step-navbar>

<div class="container-fluid py-5">
  <h1 class="mb-5 mt-3" *ngIf="greeting">
    <span class="text-green">{{ greeting.greeting }},</span>
    <span class="font-weight-bold text-dark">
      {{ userLoginDetails.firstName }}
    </span>
  </h1>

  <div class="course-div container-fluid mb-5">
    <h3>Your Courses</h3>
    <div class="row">
      <!-- fetch courses and accomodations for this user using user id on login and use array in ngfor -->
      <div class="col-md-3 my-3" *ngFor="let c of courses">
        <div class="card h-100">
          <div class="card-header bg-green bg-gradient text-light">
            <h4 class="card-title mb-0">{{ c.title }}</h4>
          </div>
          <div class="card-body px-3 bg-green-light">
            <!-- <p class="mb-0"><b>Mode :</b> {{c.mode}}</p> -->
            <p class="mb-0"><b>Description :</b> {{ c.description }}</p>
            <p class="mb-0"><b>Duration :</b> {{ c.durationMonth }}</p>
            <p class="mb-0"><b>Location :</b> {{ c.location }}</p>
            <p class="mb-0"><b>Start Date :</b> {{ c.startDate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />
  <div class="accom-div container-fluid my-4">
    <h3>Your Accomodation</h3>
    <div class="alert alert-success text-center" *ngIf="!accomodations">
      <h2 class="m-2">No Hostel Alloted</h2>
    </div>
    <div class="row">
      <div class="col-md-3 my-3">
        <div class="card h-100" *ngIf="accomodations">
          <div class="card-header bg-green bg-gradient text-light">
            <h4 class="card-title mb-0">{{ accomodations.name }}</h4>
          </div>
          <div class="card-body p-3 bg-green-light">
            <p class="mb-0">
              <b>Location :</b>
              {{
                accomodations.addressLane1 + " " + accomodations.addressLane2
              }}
            </p>
            <p class="mb-0"><b>City :</b> {{ accomodations.city }}</p>
            <p class="mb-0"><b>State :</b> {{ accomodations.state }}</p>
            <p class="mb-0">
              <b>Day Care centre :</b>
              {{ accomodations.dayCareCenter ? "Available" : "Not Available" }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
