<app-step-navbar [currentTab]="'step-courses'"></app-step-navbar>

<div class="container-fluid mx-4 py-5">
  <h2>Steps Courses</h2>

  <div class="courses-container col-md-12 row">
    <div class="col-md-4 my-3" *ngFor="let course of courses">
      <div class="card h-100">
        <div class="card-header">
          <h4 class="card-title mb-0">{{ course.title }}</h4>
        </div>
        <div
          class="card-details card-body d-flex flex-column justify-content-between"
        >
          <div>
            <p class="card-text">
              <strong>Description : </strong> {{ course.description }}
            </p>
            <p class="card-text">
              <strong>Start Date :</strong> {{ course.startDate }}
            </p>
            <p class="card-text">
              <strong>Duration :</strong> {{ course.durationMonth + " Months" }}
            </p>
            <p class="card-text">
              <strong>Job Offeres :</strong>
              {{ course.jobOffered ? "Yes" : "No" }}
            </p>
            <p class="card-text">
              <strong>Location :</strong>{{ course.location }}
            </p>
          </div>
          <div class="d-flex justify-content-between mt-3">
            <button
              class="btn btn-primary creg"
              id="creg"
              (click)="register(course.courseID)"
              *ngIf="!isEnroll(course)"
            >
              Register
            </button>
            <!-- <button class="btn btn-danger" >Cancel</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
