<app-navbar [currentTab]="'admin'"></app-navbar>
<div
  class="container-fluid d-flex align-items-center justify-content-center text-center h-75 bg-light"
>
  <div class="card w-25">
    <form [formGroup]="adminLoginForm" (ngSubmit)="requestLogin()">
      <div class="card-header bg-green bg-gradient">
        <h3 class="card-title text-light">Admin</h3>
      </div>
      <div class="card-body bg-green-light">
        <div class="form-group">
          <label class="ms-2 my-2">Admin ID</label>
          <input type="number" class="form-control" formControlName="adminId" />
        </div>
        <div class="form-group">
          <label>Password</label>
          <input
            type="password"
            autocomplete="new-password"
            class="form-control"
            formControlName="password"
          />
        </div>
      </div>
      <div class="card-footer bg-green bg-gradient">
        <button
          type="submit"
          class="btn btn-outline-light"
          [disabled]="!adminLoginForm.valid"
        >
          Login
        </button>
      </div>
    </form>
  </div>
  <div class="alert alert-danger" *ngIf="isError">
    {{ message }}
  </div>
</div>
