<app-ngo-navbar [currentTab]="'new-course'"></app-ngo-navbar>
<div class="row p-2 my-4">
  <div class="col-lg-6">
    <form class="form" (ngSubmit)="createCourse()" [formGroup]="courseForm">
      <div class="card">
        <div class="card-header bg-info text-dark"><h4>Add New Course</h4></div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <div class="form-group my-2">
                <label for="course-title">Course Title</label
                ><input
                  type="text"
                  class="form-control"
                  name="course-title"
                  formControlName="courseTitle"
                />
              </div>
              <div class="form-group my-2">
                <label for="course-desc">Description</label
                ><textarea
                  rows="5"
                  type="text"
                  class="form-control"
                  name="course-desc"
                  formControlName="courseDescription"
                ></textarea>
              </div>

              <div class="form-group my-2">
                <label for="">Start Date</label
                ><input
                  type="date"
                  name="start-date"
                  class="form-control"
                  formControlName="courseStart"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group my-2">
                <label for=""
                  >Duration <span class="text-info"> (in months)</span></label
                ><input
                  type="number"
                  min="1"
                  max="12"
                  name="duration"
                  class="form-control"
                  formControlName="courseDuration"
                />
              </div>
              <div class="form-group my-2">
                <label for="">Offers Job? &nbsp;</label>
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    value="yes"
                    name="courseJobs"
                    id="job"
                    formControlName="courseJobs"
                  /><label class="form-check-label" for="job"> Yes </label>
                </div>
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    name="courseJobs"
                    id="job"
                    formControlName="courseJobs"
                    value="no"
                  /><label class="form-check-label" for="job"> No </label>
                </div>
              </div>

              <div class="form-group my-2">
                <label for="">Location</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="courseLocation"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!courseForm.valid"
          >
            Create
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-lg-6">
    <h2 class="card-title">Current Courses</h2>
    <div class="card my-3" *ngFor="let c of courses; let i = index">
      <div class="card-header">
        <div class="row">
          <div class="col-10">
            <h2 class="card-title">
              {{ c.title }}
            </h2>
          </div>
          <div class="col-lg-2">
            <button
              class="btn btn-danger float-right"
              (click)="deleteCourse(i)"
            >
              <i class="bi bi-trash3-fill"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-8">
            <label for=""> <strong> About course</strong></label>
            <p class="card-text mx-3">{{ c.description }}</p>
            <p class="card-text">
              <strong> Starts: </strong> {{ c.startDate }}
            </p>
          </div>
          <div class="col-4">
            <p class="card-text">
              <strong>Duration:</strong> {{ c.durationMonth }} Months
            </p>
            <p class="card-text">
              <strong>Offers Jobs: </strong> {{ c.isJob }}
            </p>
            <p class="card-text"><strong>Location:</strong> {{ c.location }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
