<!-- Footer -->
<footer
  class="text-center text-lg-start bg-dark bg-gradient text-light mt-auto"
>
  <!-- Section: Links  -->
  <section class="py-3">
    <div class="container text-center">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="bi bi-x-diamond-fill"></i> S. H. E.
          </h6>
          <p>
            The objective of the scheme is to promote availability of safe and
            conveniently located accommodation for working women, with day care
            facility for their children,wherever possible, in urban, semi urban,
            or even rural areas where employment opportunity for women exist.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
          <p>
            <a class="text-reset" routerLink="/she/about-us">About</a>
          </p>
          <p>
            <a class="text-reset">Legislation and policy</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p class="">
            <i class="bi bi-house-door-fill"></i> TTC Electronic Zone, Shil
            Phata - Mahape Road, Khairane, MIDC Industrial Area, Mahape, Navi
            Mumbai, Maharashtra 400710
          </p>

          <p>
            <i class="bi bi-envelope"></i>
            <span class="ms-2">sheTeam@lntinfotech.com</span>
          </p>

          <p><i class="bi bi-telephone-fill mx-1"></i> 022 6795 4545</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-3 bg-success bg-gradient">
    © 2022 Copyright: LTI S.H.E. Team
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->