<app-navbar></app-navbar>
<div class="container">
    <div>
        <h1 class="text-center">About The Ministry</h1>
    </div>
    <hr>
    <div class="row justify-content-center">  
        <h2>Introduction</h2> 
        <div class="card">
            <p>The Department of Women and Child Development, Government of India, came into existence as a separate Ministry with effect 
            from 30th January, 2006, earlier since 1985 it was a Department under the Ministry of Human Resources Development.
            The Ministry was constituted with the prime intention of addressing gaps in State action for women and children for promoting 
            inter-Ministerial and inter-sectoral convergence to create gender equitable and child-centred legislation, policies and programmes.
            </p>
        </div>
    </div>
    <hr>
    <div style="margin: 10px;">
        <h2>Vision and Mission</h2>
        <div class="row justify-content-center">
            <div class="col-sm-4 text-center">
                <h3>Vision</h3>
                <div class="card">
                <p>Empowered women living with dignity and contributing as equal partners in development in an environment free from violence and discrimination. 
                And, wellnurtured children with full opportunities for growth and development in a safe and protective environment.
                </p>
                </div>
            </div>
            <div class="col-sm text-center">
                <h3>Mission</h3>
                <div class="card">
                    <p>Promoting social and economic empowerment of women through cross-cuting policies and programmes, mainstreaming gender concerns, creating awareness 
                    about their rights and facilitating institutional and legislative support for enabling them realize their human rights and develop to their full potential.2. 
                    Ensuring development, care and protection of children through cross-cutting policies and programmes,spreading awareness about their rights and facilitating access 
                    to learning,nutrition,institutional and legislative support for enabling them to grow and develop to their full potential.
                    </p>
                </div>
        </div>
        </div>
    </div>
    <hr>
    <div>
        <h2>Mandate:</h2>
        <div class="card">
            <p>The broad mandate of the Ministry is to have holistic development of Women and Children. As a nodal Ministry for the advancement of women and children, the Ministry formulates plans, policies and programmes; 
            enacts/ amends legislation, guides and coordinates the efforts of both governmental and non-governmental organisations working in the field of Women and Child Development. Besides, playing its nodal role, the 
            Ministry implements certain innovative programmes for women and children. These programmes cover welfare and support services, training for employment and income generation, awareness generation and gender sensitization. 
            These programmes play a supplementary and complementary role to the other general developmental programmes in the sectors of health, education, rural development etc. All these efforts are directed to ensure that women are 
            empowered both economically and socially and thus become equal partners in national development along with men.
            </p>
        </div>
    </div>
    <hr>
    <div>
        <h2>Policy Initiatives:</h2>
        <div class="card">
            <p>For the holistic development of the child, the Ministry has been implementing the world's largest and most unique and outreach programme of Integrated Child Development 
            Services (ICDS) providing a package of services comprising supplementary nutrition, immunization, health check up and referral services, pre-school non-formal education. 
            There is effective coordination and monitoring of various sectoral programmes. Most of the programmes of the Ministry are run through non-governmental organisations. 
            Efforts are made to have more effective involvement of NGOs. The major policy initiatives undertaken by the Ministry in the recent past include universalisation of ICDS and 
            Kishori Shakti Yojana, launching a nutrition programme for adolescent girls, establishment of the Commission for protection of Child Rights and enactment of Protection of Women from Domestic Violence Act.
            </p>
        </div>
    </div>
    <hr>
    <div>
        <h2>Organisation:</h2>
        <div class="card">
            <p>The Ministry of Women and Child Development is headed by Hon'ble Minister Smt. Smriti Zubin Irani, Minister of State Sushri Debasree Chaudhuri 
            and Shri Ram Mohan Mishra is the Secretary of the Ministry of Women and Child Development.The activities of the Ministry are undertaken through seven bureaux.
            </p>
        </div>
        <div>
            <h3>The Ministry has 6 autonomous organisations</h3> 
            <ol>
                <li>National Institute of Public Cooperation and Child Development (NIPCCD)</li>
                <li>National Commission for women (NCW)</li>
                <li>National Commission for Protection of Child Rights (NCPCR)</li>
                <li>Central Adoption Resource Agency (CARA)</li>
                <li>Central Social Welfare Board (CSWB)</li>
                <li>Rashtriya Mahila Kosh (RMK)</li>
            </ol> 
            <div class="card">
                <p>working under its aegis. NIPCCD and RMK are societies registered under the Societies Registration Act, 1860. CSWB is a charitable company registered under section 25 of the Indian Companies Act, 1956. 
                These organisations are fully funded by the Govt. of India and they assist the Department in its functions including implementation of some programmes/schemes. The National Commission for Women was constituted 
                as a national apex statutory body in 1992 for protecting and safeguarding the rights of women. The National Commission for Protection of Child Rights which is a national level apex statutory body constituted in the March 2007 for protecting and safe guarding the rights of children.
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <h2>Subjects Allocated to the Ministry</h2>
        <div>
            <ul>
                <li>Welfare of the family.</li>
                <li>Women and Child Welfare and Coordination of activities of other Ministries and Organisation in connection with this subject.</li>
                <li>References from the United Nations Organizations relating to traffic in Women and Children</li>
                <li>National Nutrition Policy, national Plan of Action for Nutrition and National Nutrition Mission.</li>
                <li>Charitable and religious endowments pertaining to subjects allocated to this Department</li>
                <li>Promotion and development of voluntary effort on the subjects allocated to this Department</li>
            </ul>
        </div>
        <h3>Implementation of -</h3>
        <div>
            <ul>
                <li>Immoral Traffic in Women and Girl Act. 1956 (as amended upto 1986).</li>
                <li>The Indecent Representation of Women (Prevention) Act, 1986 (60 of 1986).</li>
                <li>The Dowry Prohibition Act. 1961 (28 of 1961)</li>
                <li>The Commission of Sati (Prevention) Act, 1987 (3 of 1988), excluding the administration of criminal justice in regard to offences under these Acts.</li>
                <li>Implementation of the Infant Milk Substitutes, Feeding Bottles and Infant Food (Regulation of Production, Supply and Distribution) Act, 1992 (41 of 1992).</li>
                <li>Coordination of activities of Cooperative for Assistance and Relief Everywhere (CARE)</li>
                <li>Planning, Research, Evaluation, Monitoring, Project Formulations, Statistics and Training relating to the welfare and development of women and children, including development of gender sensitive data base.</li>
                <li>United Nations Children's Fund (UNICEF)</li>
                <li>Central Social Welfare Board (CSWB)</li>
                <li>National Institute of Public Cooperation and Child Development (NIPCCD)</li>
                <li>Food and Nutrition Board (FNB)</li>
                <li>Development and popularization of subsidiary and protective foods.</li>
                <li>Nutrition extension.</li>
            </ul>
        </div>
    </div>
</div>