<app-navbar></app-navbar>
 
<div class="card" style="background-color:green; margin: 10px;">
  <div class="card-body">
    <h4 class="card-title text-center" style="font-size: 33px; font-family: fantasy;">SHE</h4>
    <p class="card-text text-center" style="font-family: cursive;">SHE is a website which soley focuses on women empowerment, like providing working hostel facilities, 
      providing courses for the women who want to develop their skills so that they live independently and providing a small deposit scheme for the girl child who is below10 years.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="background-color:rgb(42, 119, 42); ">
        <div class="card-body">
          <h4 class="card-title text-center" style="font-size: 33px; font-family: fantasy;">STEP</h4>
          <p class="card-text text-center" style="font-family: cursive;">The Support to Training and Employment Programme for Women (STEP) Scheme aims to 
            provide skills that give employability to women and to provide competencies and skill that 
            enable women to become self-employed/ entrepreneurs. </p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="background-color:rgb(42, 119, 42);">
        <div class="card-body">
          <h4 class="card-title text-center" style="font-size: 33px; font-family: fantasy;">NGO</h4>
          <p class="card-text text-center" style="font-family: cursive;">Non-governmental organizations, or NGOs are generally nonprofit entities independent of governmental influence, they play a 
            critical part in developing society, improving communities, and promoting citizen participation.</p>
        </div>
      </div>
    </div>
  </div>
</div> 